<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) { %>
    <h2>Hi <%= user.username %>!! You are now logged in.</h2>
    <form action="/logout" method="post">
      <input type="submit" value="LOGOUT" />
    </form>
    <hr />
    <% } %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
