<!DOCTYPE html>
<body>
  <form action="/auth" method="post">
    <input type="text" name="username" id="">
    <input type="password" name="password" id="">
    <input type="submit" value="Try Auth">
  </form>
</body>
</html>
